/* src/components/RaceAnimation/styles.css */
/* .race-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .trail {
    width: 100%;
    color: white;
    border: 1px solid neon;
    background-color: black;
  }
   */

/* src/components/RaceAnimation/styles.css */
.race-container {
    display: flex;
    flex-direction: row; /* Changed from column to row */
    gap: 10px; /* Adjust as needed */
    align-items: flex-end; /* Align items to the bottom */

    position: relative; /* Add this to position children absolutely with respect to this container */

  }
  
  

/* src/components/RaceAnimation/styles.css */
.trail {
    width: 100%;
    color: white;
    border: 1px solid neon;
    background-color: black;
    border-radius: 50px; /* Give it some rounded corners to appear more snake-like */

    position: relative; /* Add relative positioning here so you can position the name absolutely */
    /* ... other styles ... */
    box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 40px #39ff14, 0 0 80px #39ff14; /* Green neon */
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14; /* Green neon text */
    /* ... other styles ... */
    background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px

      
    ); /* Example pattern */
  }

.trail-name {
    position: absolute;
    bottom: 100%; /* Position it above the trail */
    left: 50%;
    transform: translateX(-50%); /* Center the name above the trail */
/* Add styling for the name text here */
}
  