/* src/App.css */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #282c34; /* Dark background for the app */
}
